h1 {
  font-size: 77.1px;
  font-weight: 900;
  text-transform: uppercase;
}

h2 {
  font-size: 61.7px;
  font-weight: 700;
}

h3 {
  font-size: 31.567px;
  font-weight: 500;
}

h4 {
  font-style: 39.5px;
  font-weight: 400;
}

p {
  font-size: 23px;
  font-weight: 200;
}

.button-1 {
  width: auto;
  padding: 1rem;
  justify-content: center;
  border-radius: 0.8rem;
  border: 2px solid #fff;
  transition: background-color 0.3s ease, transform 0.3s ease;
}
.button-1 a {
  text-decoration: none;
  color: #fff;
}
.button-1:hover {
  background-color: #fff;
  color: #100B17;
  box-shadow: 0px 4px 5px 0px rgba(15, 15, 15, 0.3);
  transform: scale(1.1);
}
.button-1:hover:hover a {
  color: #100B17;
}

.button-2 {
  color: #fff;
  padding: 1rem;
  transition: transform 0.3s ease;
}
.button-2 a {
  text-decoration: none;
  color: #fff;
}
.button-2:hover {
  transform: scale(1.1);
  text-shadow: 0px 4px 5px 0px rgba(15, 15, 15, 0.3);
}

.contact-button {
  display: inline-block;
  padding: 1rem;
  text-align: center;
  border-radius: 0.8rem;
  background-image: linear-gradient(to right, #658DBA 0%, #6B4E93 100%);
  color: #fff;
  text-decoration: none;
}

h1 {
  font-size: 77.1px;
  font-weight: 900;
  text-transform: uppercase;
}

h2 {
  font-size: 61.7px;
  font-weight: 700;
}

h3 {
  font-size: 31.567px;
  font-weight: 500;
}

h4 {
  font-style: 39.5px;
  font-weight: 400;
}

p {
  font-size: 23px;
  font-weight: 200;
}

/* navbar */
button {
  background-color: #fff;
}

nav {
  padding: 0.2em;
  background: rgba(255, 255, 255, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-item {
  margin: 0 10px;
}

.navbar {
  font-size: 1.5em;
  box-shadow: 0px 4px 5px 0px rgba(15, 15, 15, 0.3);
  padding-inline: 1em;
  list-style-type: none;
  transition: color 0.3s ease;
}
.navbar .contact-button:hover {
  box-shadow: 0px 4px 5px 0px rgba(15, 15, 15, 0.3);
}
.navbar a {
  color: #fff;
  font-weight: 700;
  transition: color 0.3s ease, transform 0.2s ease;
  text-decoration: none;
}
.navbar a:hover {
  color: #fff;
  transform: scale(1.1);
}

.navbar-toggler {
  color: #fff;
}

.navbar-brand {
  font-size: 2em;
  font-style: normal;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}

h1 {
  font-size: 77.1px;
  font-weight: 900;
  text-transform: uppercase;
}

h2 {
  font-size: 61.7px;
  font-weight: 700;
}

h3 {
  font-size: 31.567px;
  font-weight: 500;
}

h4 {
  font-style: 39.5px;
  font-weight: 400;
}

p {
  font-size: 23px;
  font-weight: 200;
}

.button-1 {
  width: auto;
  padding: 1rem;
  justify-content: center;
  border-radius: 0.8rem;
  border: 2px solid #fff;
  transition: background-color 0.3s ease, transform 0.3s ease;
}
.button-1 a {
  text-decoration: none;
  color: #fff;
}
.button-1:hover {
  background-color: #fff;
  color: #100B17;
  box-shadow: 0px 4px 5px 0px rgba(15, 15, 15, 0.3);
  transform: scale(1.1);
}
.button-1:hover:hover a {
  color: #100B17;
}

.button-2 {
  color: #fff;
  padding: 1rem;
  transition: transform 0.3s ease;
}
.button-2 a {
  text-decoration: none;
  color: #fff;
}
.button-2:hover {
  transform: scale(1.1);
  text-shadow: 0px 4px 5px 0px rgba(15, 15, 15, 0.3);
}

.contact-button {
  display: inline-block;
  padding: 1rem;
  text-align: center;
  border-radius: 0.8rem;
  background-image: linear-gradient(to right, #658DBA 0%, #6B4E93 100%);
  color: #fff;
  text-decoration: none;
}

h1 {
  font-size: 77.1px;
  font-weight: 900;
  text-transform: uppercase;
}

h2 {
  font-size: 61.7px;
  font-weight: 700;
}

h3 {
  font-size: 31.567px;
  font-weight: 500;
}

h4 {
  font-style: 39.5px;
  font-weight: 400;
}

p {
  font-size: 23px;
  font-weight: 200;
}

body,
html {
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

header {
  box-shadow: 0px 4px 5px 0px rgba(15, 15, 15, 0.3);
}

.header-wrap {
  min-height: 110vh;
  background-image: linear-gradient(to right, #658DBA 0%, #6B4E93 100%);
  background-color: #272727;
  background-size: 300%;
  animation: header-animation 5s infinite alternate;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 50px), calc(50% + 283.56px) calc(100% - 50px), 50% 100%, calc(50% - 283.56px) calc(100% - 50px), 0 calc(100% - 50px));
}

@keyframes header-animation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}
.call-to-action-container h1 {
  color: #fff;
}
.call-to-action-container h2 {
  color: #fff;
}

/* call to action start */
.title-color {
  color: #908d95;
}

.header-container {
  margin-left: auto;
  padding: 10%;
}

/* buttons container */
.buttons-action {
  padding: 10px;
  display: grid;
  grid-template-columns: 100px 100px;
}

h1 {
  font-size: 77.1px;
  font-weight: 900;
  text-transform: uppercase;
}

h2 {
  font-size: 61.7px;
  font-weight: 700;
}

h3 {
  font-size: 31.567px;
  font-weight: 500;
}

h4 {
  font-style: 39.5px;
  font-weight: 400;
}

p {
  font-size: 23px;
  font-weight: 200;
}

.button-1 {
  width: auto;
  padding: 1rem;
  justify-content: center;
  border-radius: 0.8rem;
  border: 2px solid #fff;
  transition: background-color 0.3s ease, transform 0.3s ease;
}
.button-1 a {
  text-decoration: none;
  color: #fff;
}
.button-1:hover {
  background-color: #fff;
  color: #100B17;
  box-shadow: 0px 4px 5px 0px rgba(15, 15, 15, 0.3);
  transform: scale(1.1);
}
.button-1:hover:hover a {
  color: #100B17;
}

.button-2 {
  color: #fff;
  padding: 1rem;
  transition: transform 0.3s ease;
}
.button-2 a {
  text-decoration: none;
  color: #fff;
}
.button-2:hover {
  transform: scale(1.1);
  text-shadow: 0px 4px 5px 0px rgba(15, 15, 15, 0.3);
}

.contact-button {
  display: inline-block;
  padding: 1rem;
  text-align: center;
  border-radius: 0.8rem;
  background-image: linear-gradient(to right, #658DBA 0%, #6B4E93 100%);
  color: #fff;
  text-decoration: none;
}

h1 {
  font-size: 77.1px;
  font-weight: 900;
  text-transform: uppercase;
}

h2 {
  font-size: 61.7px;
  font-weight: 700;
}

h3 {
  font-size: 31.567px;
  font-weight: 500;
}

h4 {
  font-style: 39.5px;
  font-weight: 400;
}

p {
  font-size: 23px;
  font-weight: 200;
}

/* navbar */
button {
  background-color: #fff;
}

nav {
  padding: 0.2em;
  background: rgba(255, 255, 255, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-item {
  margin: 0 10px;
}

.navbar {
  font-size: 1.5em;
  box-shadow: 0px 4px 5px 0px rgba(15, 15, 15, 0.3);
  padding-inline: 1em;
  list-style-type: none;
  transition: color 0.3s ease;
}
.navbar .contact-button:hover {
  box-shadow: 0px 4px 5px 0px rgba(15, 15, 15, 0.3);
}
.navbar a {
  color: #fff;
  font-weight: 700;
  transition: color 0.3s ease, transform 0.2s ease;
  text-decoration: none;
}
.navbar a:hover {
  color: #fff;
  transform: scale(1.1);
}

.navbar-toggler {
  color: #fff;
}

.navbar-brand {
  font-size: 2em;
  font-style: normal;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}

h1 {
  font-size: 77.1px;
  font-weight: 900;
  text-transform: uppercase;
}

h2 {
  font-size: 61.7px;
  font-weight: 700;
}

h3 {
  font-size: 31.567px;
  font-weight: 500;
}

h4 {
  font-style: 39.5px;
  font-weight: 400;
}

p {
  font-size: 23px;
  font-weight: 200;
}

.button-1 {
  width: auto;
  padding: 1rem;
  justify-content: center;
  border-radius: 0.8rem;
  border: 2px solid #fff;
  transition: background-color 0.3s ease, transform 0.3s ease;
}
.button-1 a {
  text-decoration: none;
  color: #fff;
}
.button-1:hover {
  background-color: #fff;
  color: #100B17;
  box-shadow: 0px 4px 5px 0px rgba(15, 15, 15, 0.3);
  transform: scale(1.1);
}
.button-1:hover:hover a {
  color: #100B17;
}

.button-2 {
  color: #fff;
  padding: 1rem;
  transition: transform 0.3s ease;
}
.button-2 a {
  text-decoration: none;
  color: #fff;
}
.button-2:hover {
  transform: scale(1.1);
  text-shadow: 0px 4px 5px 0px rgba(15, 15, 15, 0.3);
}

.contact-button {
  display: inline-block;
  padding: 1rem;
  text-align: center;
  border-radius: 0.8rem;
  background-image: linear-gradient(to right, #658DBA 0%, #6B4E93 100%);
  color: #fff;
  text-decoration: none;
}

h1 {
  font-size: 77.1px;
  font-weight: 900;
  text-transform: uppercase;
}

h2 {
  font-size: 61.7px;
  font-weight: 700;
}

h3 {
  font-size: 31.567px;
  font-weight: 500;
}

h4 {
  font-style: 39.5px;
  font-weight: 400;
}

p {
  font-size: 23px;
  font-weight: 200;
}

/* ABOUT ME SECTION START */
#about-me {
  clip-path: polygon(0 0, calc(50% - 283.56px) 0, 50% 50px, calc(50% + 283.56px) 0, 100% 0, 100% 100%, 0 100%);
  margin-top: -50px;
  height: auto;
}

.about-image {
  background-color: #272727;
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  position: relative;
  transform-style: preserve-3d;
  border-radius: 23px;
  height: 600px;
  width: 300px;
}

.box sh {
  position: absolute;
  inset: -12px;
  border: 12px solid rgba(0, 0, 0, 0);
  border-radius: 35px;
  -webkit-mask: linear-gradient(to right, #000 0 0) content-box, linear-gradient(to right, #000 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  transform: translateZ(-1px);
  pointer-events: none;
}

.box sh::before {
  content: "";
  position: absolute;
  inset: -10px;
  border-radius: 23px;
  background: linear-gradient(to right, #658dba 0%, #6b4e93 100%);
  filter: blur(2px);
  transform: translate(0px, 0px);
}

.about-img-box {
  height: 600px;
  width: 300px;
  border-radius: 23px;
  background-image: url("https://via.placeholder.com/300x600");
  margin: auto;
}

.about-presentation {
  background-color: #272727;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 20px;
}
.about-presentation .text-about-presentation {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  gap: 40px;
}
.about-presentation .text-about-presentation h2,
.about-presentation .text-about-presentation p {
  color: #fff;
}
.about-presentation .text-about-presentation .valerie-gradient {
  background: linear-gradient(to right, #658DBA 0%, #6B4E93 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.about-presentation .text-about-presentation .about-p-strong {
  font-weight: 600;
  background: linear-gradient(to right, #658DBA 0%, #6B4E93 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.about-presentation .text-about-presentation .sm-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-presentation .text-about-presentation .sm-wrap h2 {
  color: #fff;
}
.about-presentation .text-about-presentation .sm-wrap li {
  list-style-type: none;
}
.about-presentation .text-about-presentation .sm-wrap ul {
  color: #fff;
  display: flex;
  justify-content: center;
  font-size: 50px;
  letter-spacing: 20px;
}

h1 {
  font-size: 77.1px;
  font-weight: 900;
  text-transform: uppercase;
}

h2 {
  font-size: 61.7px;
  font-weight: 700;
}

h3 {
  font-size: 31.567px;
  font-weight: 500;
}

h4 {
  font-style: 39.5px;
  font-weight: 400;
}

p {
  font-size: 23px;
  font-weight: 200;
}

.button-1 {
  width: auto;
  padding: 1rem;
  justify-content: center;
  border-radius: 0.8rem;
  border: 2px solid #fff;
  transition: background-color 0.3s ease, transform 0.3s ease;
}
.button-1 a {
  text-decoration: none;
  color: #fff;
}
.button-1:hover {
  background-color: #fff;
  color: #100B17;
  box-shadow: 0px 4px 5px 0px rgba(15, 15, 15, 0.3);
  transform: scale(1.1);
}
.button-1:hover:hover a {
  color: #100B17;
}

.button-2 {
  color: #fff;
  padding: 1rem;
  transition: transform 0.3s ease;
}
.button-2 a {
  text-decoration: none;
  color: #fff;
}
.button-2:hover {
  transform: scale(1.1);
  text-shadow: 0px 4px 5px 0px rgba(15, 15, 15, 0.3);
}

.contact-button {
  display: inline-block;
  padding: 1rem;
  text-align: center;
  border-radius: 0.8rem;
  background-image: linear-gradient(to right, #658DBA 0%, #6B4E93 100%);
  color: #fff;
  text-decoration: none;
}

h1 {
  font-size: 77.1px;
  font-weight: 900;
  text-transform: uppercase;
}

h2 {
  font-size: 61.7px;
  font-weight: 700;
}

h3 {
  font-size: 31.567px;
  font-weight: 500;
}

h4 {
  font-style: 39.5px;
  font-weight: 400;
}

p {
  font-size: 23px;
  font-weight: 200;
}

#portfolio {
  background-color: #fff;
  display: flex;
  height: 60vmax;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-shrink: 1;
  clip-path: polygon(0 83px, 100% 0, 100% 100%, 0 100%);
  margin-top: -83px;
  background-image: linear-gradient(to right, #658DBA 0%, #6B4E93 100%);
}

.portfolio-all-wrap {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: inherit;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.portfolio-container {
  display: flex;
  flex-shrink: inherit;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: center;
  align-items: center;
}

.row {
  justify-content: flex-end;
  flex-wrap: wrap;
}

.portfolio-boxes1,
.portfolio-boxes2,
.portfolio-boxes3,
.portfolio-boxes4 {
  width: 300px;
  height: 300px;
  border-radius: 15px;
  background: #fff;
  box-shadow: 0px 4px 5px 0px rgba(15, 15, 15, 0.3);
}

.porfolio-text {
  padding-right: 100px;
  display: flex;
  flex-shrink: inherit;
  flex-direction: column;
  align-items: center;
  color: #fff;
}
.porfolio-text a {
  font-weight: 700;
  text-decoration: none;
  color: #fff;
}
.porfolio-text h2 {
  padding: 0 0 20px 0;
  border-bottom: 3px solid #fff;
}

h1 {
  font-size: 77.1px;
  font-weight: 900;
  text-transform: uppercase;
}

h2 {
  font-size: 61.7px;
  font-weight: 700;
}

h3 {
  font-size: 31.567px;
  font-weight: 500;
}

h4 {
  font-style: 39.5px;
  font-weight: 400;
}

p {
  font-size: 23px;
  font-weight: 200;
}

.button-1 {
  width: auto;
  padding: 1rem;
  justify-content: center;
  border-radius: 0.8rem;
  border: 2px solid #fff;
  transition: background-color 0.3s ease, transform 0.3s ease;
}
.button-1 a {
  text-decoration: none;
  color: #fff;
}
.button-1:hover {
  background-color: #fff;
  color: #100B17;
  box-shadow: 0px 4px 5px 0px rgba(15, 15, 15, 0.3);
  transform: scale(1.1);
}
.button-1:hover:hover a {
  color: #100B17;
}

.button-2 {
  color: #fff;
  padding: 1rem;
  transition: transform 0.3s ease;
}
.button-2 a {
  text-decoration: none;
  color: #fff;
}
.button-2:hover {
  transform: scale(1.1);
  text-shadow: 0px 4px 5px 0px rgba(15, 15, 15, 0.3);
}

.contact-button {
  display: inline-block;
  padding: 1rem;
  text-align: center;
  border-radius: 0.8rem;
  background-image: linear-gradient(to right, #658DBA 0%, #6B4E93 100%);
  color: #fff;
  text-decoration: none;
}

h1 {
  font-size: 77.1px;
  font-weight: 900;
  text-transform: uppercase;
}

h2 {
  font-size: 61.7px;
  font-weight: 700;
}

h3 {
  font-size: 31.567px;
  font-weight: 500;
}

h4 {
  font-style: 39.5px;
  font-weight: 400;
}

p {
  font-size: 23px;
  font-weight: 200;
}

#sec-serv {
  display: flex;
  flex-wrap: wrap;
  background: #272727;
  clip-path: polygon(0 0, 100% 83px, 100% 100%, 0 100%);
  margin-top: -83px;
  z-index: -1;
  height: 100vh;
  padding: 10%;
  justify-content: space-around;
  align-content: space-around;
}

.text-center {
  background: linear-gradient(to right, #658DBA 0%, #6B4E93 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.text-center h4 {
  box-shadow: 0px 4px 5px 0px rgba(15, 15, 15, 0.3);
}

.serv-box-container {
  height: 60vh;
  display: flex;
  gap: 1%;
}

.serv-box {
  height: inherit;
  width: 23vw;
  padding: 1%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 15px solid transparent; /* Set a transparent border */
  border-radius: 10%;
  background-clip: padding-box; /* Ensure background is confined to the padding box */
  color: #fff;
  box-shadow: 0px 2px 2px 0px rgba(15, 15, 15, 0.3);
  position: relative;
  background-image: linear-gradient(to right, #658DBA 0%, #6B4E93 100%);
  transition: transform 0.3s ease-in-out;
}
.serv-box .black-container {
  background-color: #272727;
  border-radius: inherit;
  height: 65%;
  padding: 5%;
}
.serv-box .serv-title {
  font-weight: 800;
  font-size: 30px;
  background: linear-gradient(to right, #658DBA 0%, #6B4E93 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.serv-box img {
  width: 30%;
  height: 30%;
  margin: auto;
  color: #fff;
  padding-bottom: 5%;
}
.serv-box .button-action-serv {
  background-image: linear-gradient(to right, #658DBA 0%, #6B4E93 100%);
  padding: 5%;
  border-radius: inherit;
  box-shadow: 0px 4px 5px 0px rgba(15, 15, 15, 0.3);
}
.serv-box a {
  text-decoration: none;
  color: #fff;
}
.serv-box:hover {
  transform: translateY(-5px);
}
.serv-box:active {
  transform: translateY(0);
}

h1 {
  font-size: 77.1px;
  font-weight: 900;
  text-transform: uppercase;
}

h2 {
  font-size: 61.7px;
  font-weight: 700;
}

h3 {
  font-size: 31.567px;
  font-weight: 500;
}

h4 {
  font-style: 39.5px;
  font-weight: 400;
}

p {
  font-size: 23px;
  font-weight: 200;
}

.button-1 {
  width: auto;
  padding: 1rem;
  justify-content: center;
  border-radius: 0.8rem;
  border: 2px solid #fff;
  transition: background-color 0.3s ease, transform 0.3s ease;
}
.button-1 a {
  text-decoration: none;
  color: #fff;
}
.button-1:hover {
  background-color: #fff;
  color: #100B17;
  box-shadow: 0px 4px 5px 0px rgba(15, 15, 15, 0.3);
  transform: scale(1.1);
}
.button-1:hover:hover a {
  color: #100B17;
}

.button-2 {
  color: #fff;
  padding: 1rem;
  transition: transform 0.3s ease;
}
.button-2 a {
  text-decoration: none;
  color: #fff;
}
.button-2:hover {
  transform: scale(1.1);
  text-shadow: 0px 4px 5px 0px rgba(15, 15, 15, 0.3);
}

.contact-button {
  display: inline-block;
  padding: 1rem;
  text-align: center;
  border-radius: 0.8rem;
  background-image: linear-gradient(to right, #658DBA 0%, #6B4E93 100%);
  color: #fff;
  text-decoration: none;
}

h1 {
  font-size: 77.1px;
  font-weight: 900;
  text-transform: uppercase;
}

h2 {
  font-size: 61.7px;
  font-weight: 700;
}

h3 {
  font-size: 31.567px;
  font-weight: 500;
}

h4 {
  font-style: 39.5px;
  font-weight: 400;
}

p {
  font-size: 23px;
  font-weight: 200;
}

footer {
  background-image: linear-gradient(to right, #658DBA 0%, #6B4E93 100%);
  height: auto;
  color: #fff;
}
footer a {
  color: #fff;
  text-decoration: none;
}
footer li {
  list-style-type: none;
}
footer .credit {
  color: #fff;
}

.logo-footer {
  padding: 3%;
  background-color: #272727;
}

.p-container {
  padding: 2%;
}

.services-box {
  padding: 2%;
  font-size: 1.2em;
}

.contact-box {
  padding: 2%;
  font-size: 1.2em;
}

.sm-footer-box {
  padding: 2%;
  font-size: 3em;
}

h1 {
  font-size: 77.1px;
  font-weight: 900;
  text-transform: uppercase;
}

h2 {
  font-size: 61.7px;
  font-weight: 700;
}

h3 {
  font-size: 31.567px;
  font-weight: 500;
}

h4 {
  font-style: 39.5px;
  font-weight: 400;
}

p {
  font-size: 23px;
  font-weight: 200;
}

.button-1 {
  width: auto;
  padding: 1rem;
  justify-content: center;
  border-radius: 0.8rem;
  border: 2px solid #fff;
  transition: background-color 0.3s ease, transform 0.3s ease;
}
.button-1 a {
  text-decoration: none;
  color: #fff;
}
.button-1:hover {
  background-color: #fff;
  color: #100B17;
  box-shadow: 0px 4px 5px 0px rgba(15, 15, 15, 0.3);
  transform: scale(1.1);
}
.button-1:hover:hover a {
  color: #100B17;
}

.button-2 {
  color: #fff;
  padding: 1rem;
  transition: transform 0.3s ease;
}
.button-2 a {
  text-decoration: none;
  color: #fff;
}
.button-2:hover {
  transform: scale(1.1);
  text-shadow: 0px 4px 5px 0px rgba(15, 15, 15, 0.3);
}

.contact-button {
  display: inline-block;
  padding: 1rem;
  text-align: center;
  border-radius: 0.8rem;
  background-image: linear-gradient(to right, #658DBA 0%, #6B4E93 100%);
  color: #fff;
  text-decoration: none;
}

h1 {
  font-size: 77.1px;
  font-weight: 900;
  text-transform: uppercase;
}

h2 {
  font-size: 61.7px;
  font-weight: 700;
}

h3 {
  font-size: 31.567px;
  font-weight: 500;
}

h4 {
  font-style: 39.5px;
  font-weight: 400;
}

p {
  font-size: 23px;
  font-weight: 200;
}

/* navbar */
button {
  background-color: #fff;
}

nav {
  padding: 0.2em;
  background: rgba(255, 255, 255, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-item {
  margin: 0 10px;
}

.navbar {
  font-size: 1.5em;
  box-shadow: 0px 4px 5px 0px rgba(15, 15, 15, 0.3);
  padding-inline: 1em;
  list-style-type: none;
  transition: color 0.3s ease;
}
.navbar .contact-button:hover {
  box-shadow: 0px 4px 5px 0px rgba(15, 15, 15, 0.3);
}
.navbar a {
  color: #fff;
  font-weight: 700;
  transition: color 0.3s ease, transform 0.2s ease;
  text-decoration: none;
}
.navbar a:hover {
  color: #fff;
  transform: scale(1.1);
}

.navbar-toggler {
  color: #fff;
}

.navbar-brand {
  font-size: 2em;
  font-style: normal;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}

h1 {
  font-size: 77.1px;
  font-weight: 900;
  text-transform: uppercase;
}

h2 {
  font-size: 61.7px;
  font-weight: 700;
}

h3 {
  font-size: 31.567px;
  font-weight: 500;
}

h4 {
  font-style: 39.5px;
  font-weight: 400;
}

p {
  font-size: 23px;
  font-weight: 200;
}

.button-1 {
  width: auto;
  padding: 1rem;
  justify-content: center;
  border-radius: 0.8rem;
  border: 2px solid #fff;
  transition: background-color 0.3s ease, transform 0.3s ease;
}
.button-1 a {
  text-decoration: none;
  color: #fff;
}
.button-1:hover {
  background-color: #fff;
  color: #100B17;
  box-shadow: 0px 4px 5px 0px rgba(15, 15, 15, 0.3);
  transform: scale(1.1);
}
.button-1:hover:hover a {
  color: #100B17;
}

.button-2 {
  color: #fff;
  padding: 1rem;
  transition: transform 0.3s ease;
}
.button-2 a {
  text-decoration: none;
  color: #fff;
}
.button-2:hover {
  transform: scale(1.1);
  text-shadow: 0px 4px 5px 0px rgba(15, 15, 15, 0.3);
}

.contact-button {
  display: inline-block;
  padding: 1rem;
  text-align: center;
  border-radius: 0.8rem;
  background-image: linear-gradient(to right, #658DBA 0%, #6B4E93 100%);
  color: #fff;
  text-decoration: none;
}

h1 {
  font-size: 77.1px;
  font-weight: 900;
  text-transform: uppercase;
}

h2 {
  font-size: 61.7px;
  font-weight: 700;
}

h3 {
  font-size: 31.567px;
  font-weight: 500;
}

h4 {
  font-style: 39.5px;
  font-weight: 400;
}

p {
  font-size: 23px;
  font-weight: 200;
}

body,
html {
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

header {
  box-shadow: 0px 4px 5px 0px rgba(15, 15, 15, 0.3);
}

.header-wrap {
  min-height: 110vh;
  background-image: linear-gradient(to right, #658DBA 0%, #6B4E93 100%);
  background-color: #272727;
  background-size: 300%;
  animation: header-animation 5s infinite alternate;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 50px), calc(50% + 283.56px) calc(100% - 50px), 50% 100%, calc(50% - 283.56px) calc(100% - 50px), 0 calc(100% - 50px));
}

@keyframes header-animation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}
.call-to-action-container h1 {
  color: #fff;
}
.call-to-action-container h2 {
  color: #fff;
}

/* call to action start */
.title-color {
  color: #908d95;
}

.header-container {
  margin-left: auto;
  padding: 10%;
}

/* buttons container */
.buttons-action {
  padding: 10px;
  display: grid;
  grid-template-columns: 100px 100px;
}

h1 {
  font-size: 77.1px;
  font-weight: 900;
  text-transform: uppercase;
}

h2 {
  font-size: 61.7px;
  font-weight: 700;
}

h3 {
  font-size: 31.567px;
  font-weight: 500;
}

h4 {
  font-style: 39.5px;
  font-weight: 400;
}

p {
  font-size: 23px;
  font-weight: 200;
}

.button-1 {
  width: auto;
  padding: 1rem;
  justify-content: center;
  border-radius: 0.8rem;
  border: 2px solid #fff;
  transition: background-color 0.3s ease, transform 0.3s ease;
}
.button-1 a {
  text-decoration: none;
  color: #fff;
}
.button-1:hover {
  background-color: #fff;
  color: #100B17;
  box-shadow: 0px 4px 5px 0px rgba(15, 15, 15, 0.3);
  transform: scale(1.1);
}
.button-1:hover:hover a {
  color: #100B17;
}

.button-2 {
  color: #fff;
  padding: 1rem;
  transition: transform 0.3s ease;
}
.button-2 a {
  text-decoration: none;
  color: #fff;
}
.button-2:hover {
  transform: scale(1.1);
  text-shadow: 0px 4px 5px 0px rgba(15, 15, 15, 0.3);
}

.contact-button {
  display: inline-block;
  padding: 1rem;
  text-align: center;
  border-radius: 0.8rem;
  background-image: linear-gradient(to right, #658DBA 0%, #6B4E93 100%);
  color: #fff;
  text-decoration: none;
}

h1 {
  font-size: 77.1px;
  font-weight: 900;
  text-transform: uppercase;
}

h2 {
  font-size: 61.7px;
  font-weight: 700;
}

h3 {
  font-size: 31.567px;
  font-weight: 500;
}

h4 {
  font-style: 39.5px;
  font-weight: 400;
}

p {
  font-size: 23px;
  font-weight: 200;
}

/* navbar */
button {
  background-color: #fff;
}

nav {
  padding: 0.2em;
  background: rgba(255, 255, 255, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-item {
  margin: 0 10px;
}

.navbar {
  font-size: 1.5em;
  box-shadow: 0px 4px 5px 0px rgba(15, 15, 15, 0.3);
  padding-inline: 1em;
  list-style-type: none;
  transition: color 0.3s ease;
}
.navbar .contact-button:hover {
  box-shadow: 0px 4px 5px 0px rgba(15, 15, 15, 0.3);
}
.navbar a {
  color: #fff;
  font-weight: 700;
  transition: color 0.3s ease, transform 0.2s ease;
  text-decoration: none;
}
.navbar a:hover {
  color: #fff;
  transform: scale(1.1);
}

.navbar-toggler {
  color: #fff;
}

.navbar-brand {
  font-size: 2em;
  font-style: normal;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}

h1 {
  font-size: 77.1px;
  font-weight: 900;
  text-transform: uppercase;
}

h2 {
  font-size: 61.7px;
  font-weight: 700;
}

h3 {
  font-size: 31.567px;
  font-weight: 500;
}

h4 {
  font-style: 39.5px;
  font-weight: 400;
}

p {
  font-size: 23px;
  font-weight: 200;
}

.button-1 {
  width: auto;
  padding: 1rem;
  justify-content: center;
  border-radius: 0.8rem;
  border: 2px solid #fff;
  transition: background-color 0.3s ease, transform 0.3s ease;
}
.button-1 a {
  text-decoration: none;
  color: #fff;
}
.button-1:hover {
  background-color: #fff;
  color: #100B17;
  box-shadow: 0px 4px 5px 0px rgba(15, 15, 15, 0.3);
  transform: scale(1.1);
}
.button-1:hover:hover a {
  color: #100B17;
}

.button-2 {
  color: #fff;
  padding: 1rem;
  transition: transform 0.3s ease;
}
.button-2 a {
  text-decoration: none;
  color: #fff;
}
.button-2:hover {
  transform: scale(1.1);
  text-shadow: 0px 4px 5px 0px rgba(15, 15, 15, 0.3);
}

.contact-button {
  display: inline-block;
  padding: 1rem;
  text-align: center;
  border-radius: 0.8rem;
  background-image: linear-gradient(to right, #658DBA 0%, #6B4E93 100%);
  color: #fff;
  text-decoration: none;
}

h1 {
  font-size: 77.1px;
  font-weight: 900;
  text-transform: uppercase;
}

h2 {
  font-size: 61.7px;
  font-weight: 700;
}

h3 {
  font-size: 31.567px;
  font-weight: 500;
}

h4 {
  font-style: 39.5px;
  font-weight: 400;
}

p {
  font-size: 23px;
  font-weight: 200;
}

#portfolio-wrap {
  padding: 50%;
  background-color: #fff;
}

/* gallery */
.gallery-container {
  background-color: #fff;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5%;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 30px;
}

.gallery img {
  width: 100%;
  box-shadow: 0px 4px 5px 0px rgba(15, 15, 15, 0.3);
}

.gallery img:hover {
  filter: grayscale(100%);
  transform: scale(1.1);
  transition: all 0.7s;
}

body.lb-disable-scrolling {
  overflow: hidden;
}

.lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  display: none;
}

.lightbox {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10000;
  text-align: center;
  line-height: 0;
  font-weight: normal;
  outline: none;
}

.lightbox .lb-image {
  display: block;
  height: auto;
  max-width: inherit;
  max-height: none;
  border-radius: 3px;
  /* Image border */
  border: 4px solid white;
}

.lightbox a img {
  border: none;
}

.lb-outerContainer {
  position: relative;
  zoom: 1;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  border-radius: 4px;
  /* Background color behind image.
     This is visible during transitions. */
  background-color: white;
}

.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both;
}

.lb-loader {
  position: absolute;
  top: 43%;
  left: 0;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0;
}

.lb-cancel {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  background: url(../images/portfolio-img/loading.gif) no-repeat;
}

.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

.lb-container > .nav {
  left: 0;
}

.lb-nav a {
  outline: none;
  background-image: url("data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==");
}

.lb-prev,
.lb-next {
  height: 100%;
  cursor: pointer;
  display: block;
}

.lb-nav a.lb-prev {
  width: 34%;
  left: 0;
  float: left;
  background: url(../images/portfolio-img/prev.png) left 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

.lb-nav a.lb-prev:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.lb-nav a.lb-next {
  width: 64%;
  right: 0;
  float: right;
  background: url(../images/portfolio-img/next.png) right 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

.lb-nav a.lb-next:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.lb-dataContainer {
  margin: 0 auto;
  padding-top: 5px;
  zoom: 1;
  width: 100%;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both;
}

.lb-data {
  padding: 0 4px;
  color: #ccc;
}

.lb-data .lb-details {
  width: 85%;
  float: left;
  text-align: left;
  line-height: 1.1em;
}

.lb-data .lb-caption {
  font-size: 13px;
  font-weight: bold;
  line-height: 1em;
}

.lb-data .lb-caption a {
  color: #4ae;
}

.lb-data .lb-number {
  display: block;
  clear: left;
  padding-bottom: 1em;
  font-size: 12px;
  color: #999999;
}

.lb-data .lb-close {
  display: block;
  float: right;
  width: 30px;
  height: 30px;
  background: url(../images/portfolio-img/close.png) top right no-repeat;
  text-align: right;
  outline: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.lb-data .lb-close:hover {
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

h1 {
  font-size: 77.1px;
  font-weight: 900;
  text-transform: uppercase;
}

h2 {
  font-size: 61.7px;
  font-weight: 700;
}

h3 {
  font-size: 31.567px;
  font-weight: 500;
}

h4 {
  font-style: 39.5px;
  font-weight: 400;
}

p {
  font-size: 23px;
  font-weight: 200;
}

.button-1 {
  width: auto;
  padding: 1rem;
  justify-content: center;
  border-radius: 0.8rem;
  border: 2px solid #fff;
  transition: background-color 0.3s ease, transform 0.3s ease;
}
.button-1 a {
  text-decoration: none;
  color: #fff;
}
.button-1:hover {
  background-color: #fff;
  color: #100B17;
  box-shadow: 0px 4px 5px 0px rgba(15, 15, 15, 0.3);
  transform: scale(1.1);
}
.button-1:hover:hover a {
  color: #100B17;
}

.button-2 {
  color: #fff;
  padding: 1rem;
  transition: transform 0.3s ease;
}
.button-2 a {
  text-decoration: none;
  color: #fff;
}
.button-2:hover {
  transform: scale(1.1);
  text-shadow: 0px 4px 5px 0px rgba(15, 15, 15, 0.3);
}

.contact-button {
  display: inline-block;
  padding: 1rem;
  text-align: center;
  border-radius: 0.8rem;
  background-image: linear-gradient(to right, #658DBA 0%, #6B4E93 100%);
  color: #fff;
  text-decoration: none;
}

h1 {
  font-size: 77.1px;
  font-weight: 900;
  text-transform: uppercase;
}

h2 {
  font-size: 61.7px;
  font-weight: 700;
}

h3 {
  font-size: 31.567px;
  font-weight: 500;
}

h4 {
  font-style: 39.5px;
  font-weight: 400;
}

p {
  font-size: 23px;
  font-weight: 200;
}

body,
html {
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

@media (max-width: 575.98px) {
  .navbar {
    font-size: 1em;
  }
  #portfolio {
    height: 190vh;
  }
  #portfolio,
  #sec-serv {
    clip-path: none;
  }
  .portfolio-boxes1,
  .portfolio-boxes2,
  .portfolio-boxes3,
  .portfolio-boxes4 {
    width: 40%;
    height: 40%;
  }
  .header-container {
    margin: auto;
    position: relative;
    padding: 100px;
  }
  .about-img-box,
  .box,
  .about-image {
    display: none;
  }
  h1 {
    font-size: 61.7px;
    font-weight: 800;
    text-transform: uppercase;
  }
  h2 {
    font-size: 41.7px;
    font-weight: 600;
  }
  .logo-footer,
  .sm-footer-box {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 767.98px) {
  #portfolio,
  #sec-serv {
    clip-path: none;
  }
  * {
    overflow: hidden;
  }
  .navbar {
    font-size: 1em;
  }
  .portfolio-boxes1,
  .portfolio-boxes2,
  .portfolio-boxes3,
  .portfolio-boxes4 {
    width: 110px;
    height: 110px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .row {
    justify-content: center;
  }
  .header-container {
    padding: 100px;
  }
  .about-img-box,
  .about-image {
    display: none;
  }
  .about-presentation .text-about-presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    gap: 40px;
  }
  li {
    font-size: 45px;
  }
  .about-p {
    text-align: center;
  }
  h2 {
    font-size: 45px;
    font-weight: 600;
  }
  .serv-1-box,
  .serv-2-box,
  .serv-3-box {
    border: 4px solid #272727;
    display: flex;
    flex-direction: column;
  }
  .sm-footer-box {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 991.98px) {
  .portfolio-boxes1,
  .portfolio-boxes2,
  .portfolio-boxes3,
  .portfolio-boxes4 {
    width: 200px;
    height: 200px;
  }
  .serv-1-box,
  .serv-2-box,
  .serv-3-box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 4px solid #272727;
  }
}
@media (max-width: 1199.98px) {
  .portfolio-boxes1,
  .portfolio-boxes2,
  .portfolio-boxes3,
  .portfolio-boxes4 {
    width: 200px;
    height: 200px;
  }
  .serv-1-box,
  .serv-2-box,
  .serv-3-box {
    width: auto;
    display: flex;
    flex-direction: column;
  }
}

/*# sourceMappingURL=styles.css.map */
