@import "../base/_header.scss", "../base/_nav-bar.scss", "../base/_footer.scss";
// componentes
@import "../componentes/_colores.scss", "../componentes/_botones.scss",
    "../componentes/_fuentes.scss", "../componentes/global-selector";

.ab-me {
    padding-inline: 20px;
    margin: auto;
}
.row {
    margin-left: calc(-0.9 * var(--bs-gutter-x));
}
.ab-me-text {
    background-color: $main-dark-c;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;
    align-content: center;
    align-items: stretch;
    padding: 20px 20px 20px 60px;
    height: 100vh;
    .text-1-ab {
        text-shadow: $text-shadow;
    }
    .text-2-ab {
        font-weight: 600;
        margin-top: -25px;
        text-shadow: $text-shadow;
    }
    .ab-bot-title {
        text-align: center;
        font-weight: 700;
    }
    .ab-par{
        font-weight: 400;
        span {
            font-weight: 800;
        }
    }
    .valerie-gradient {
        background: $main-gradient-hero;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.center-text-wrap{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}
    .ab-button {
        display: inline-flex;
        width: 20%;
        padding: 10px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 22px;
        background: var(
            --inkpurple-blue-gradient,
            linear-gradient(180deg, #658dba 0%, #6b4e93 100%)
        );
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        transition: transform 0.3s ease-in-out;
        a {
            color: $main-light-c;
            text-decoration: none;
        }
        &:hover {
            transform: translateY(-5px);
        }
    
        &:active {
            transform: translateY(0);
        }
    }


.image-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-image: $main-gradient-hero;
}
