@import "../base/_header.scss", "../base/_nav-bar.scss", "../base/_footer.scss";
// componentes
@import "../componentes/_colores.scss", "../componentes/_botones.scss",
    "../componentes/_fuentes.scss", "../componentes/_global-selector.scss", "../componentes/_media-queries.scss";

.services-p-wrap {
    background-color: $main-dark-c;
    height: 150%;
    padding: 10px;
    .services-t-t {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-weight: 800;
        margin: auto;
        .center-text-wrap {
            font-weight: 600;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-content: center;
            align-items: center;
            justify-content: center;
            .ab-bot-title{
                font-size: 60px;
            }
        }
    }
    .valerie-gradient {
        background: $main-gradient-hero;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    
.serv-box{
    margin: auto;
    padding: 20px; 
    max-width: 600px;
}
}
