@import "../componentes/_colores.scss", "../componentes/_botones.scss",
    "../componentes/_fuentes.scss";

footer {
    background-image: $main-gradient-hero;
    height: auto;
    
    color: $main-light-c;
    a {
        color: $main-light-c;
        text-decoration: none;
    }
    li {
        list-style-type: none;
    }
    .credit{
        color: $main-light-c;
    }
}

.logo-footer {
    padding: 3%;
    background-color: $main-dark-c;
}

.p-container {
    padding: 2%;
}

.services-box {
    padding: 2%;
    font-size: 1.2em;
}

.contact-box {
    padding: 2%;
    font-size: 1.2em;
}

.sm-footer-box {
    padding: 2%;
    font-size: 3em;
}
