@import "../componentes/_colores.scss", "../componentes/_botones.scss",
    "../componentes/_fuentes.scss";

footer {
    background-color: $main-dark-c;
    
    color: $main-light-c;
    a {
        color: $main-light-c;
        text-decoration: none;

        &:hover{
            color: $main-light-c;
        }
    }
    li {
        transition: background 0.4s ease; 
        list-style-type: none;

        &:hover {
            background: $main-gradient-hero;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
    .credit{
        color: $main-light-c;
    }
}

.logo-footer {
    padding: 3%;
    background: $main-gradient-hero;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.p-container {
    padding: 2%;
}

.services-box {
    padding: 2%;
    font-size: 1.2em;
}

.contact-box {
    padding: 2%;
    font-size: 1.2em;
}

.sm-footer-box {
    padding: 2%;
    font-size: 3em;
}
