// base
@import "../base/_nav-bar.scss";
// componentes
@import "../componentes/_colores.scss", "../componentes/_botones.scss",
    "../componentes/_fuentes.scss", "../componentes/_global-selector.scss";

    header {
        box-shadow: $box-shadow;
    }
.header-wrap {
    min-height: 110vh;
    background-image: $main-gradient-hero;
    background-color: $main-dark-c;
    background-size: 300%;
    animation: header-animation 5s infinite alternate;
    clip-path: polygon(0 0,100% 0,100% calc(100% - 50px),calc(50% + 283.56px) calc(100% - 50px),50% 100%,calc(50% - 283.56px) calc(100% - 50px),0 calc(100% - 50px));
    // --mask: radial-gradient(
    //             54.79px at 50% calc(100% - 73.75px),
    //             #000 99%,
    //             #0000 101%
    //         )
    //         calc(50% - 50px) 0/100px 100%,
    //     radial-gradient(
    //             54.79px at 50% calc(100% + 48.75px),
    //             #0000 99%,
    //             #000 101%
    //         )
    //         50% calc(100% - 25px) / 100px 100% repeat-x;
    // -webkit-mask: var(--mask);
    // mask: var(--mask);
}

@keyframes header-animation {
    0% {
        background-position: left;
    }
    100% {
        background-position: right;
    }
}
.call-to-action-container {
    h1 {
        color: $main-light-c;
    }
    h2 {
        color: $main-light-c;
    }
}

/* call to action start */

.title-color {
    color: $main-grey-c;
}

.header-container {
    margin-left: auto;
    padding: 10%;
}
/* buttons container */

.buttons-action {
    padding: 10px;
    display: grid;
    grid-template-columns: 100px 100px;
}


