// base
@import "../base/_nav-bar.scss";
// componentes
@import "../componentes/_colores.scss", "../componentes/_botones.scss",
    "../componentes/_fuentes.scss", "../componentes/_global-selector.scss";

.header-wrap {
    min-height: 100vh;
    background-image: $main-gradient-hero;
    background-size: 300%;
    animation: header-animation 5s infinite alternate;
    box-shadow: $box-shadow;
}

@keyframes header-animation {
    0% {
        background-position: left;
    }
    100% {
        background-position: right;
    }
}
.call-to-action-container {
    h1 {
        color: $main-light-c;
    }
    h2 {
        color: $main-light-c;
    }
}

/* call to action start */

.title-color {
    color: $main-grey-c;
}

.header-container {
    margin-left: auto;
    padding: 10%;
}
/* buttons container */

.buttons-action {
    padding: 10px;
    display: grid;
    grid-template-columns: 100px 100px;}
