@import "../componentes/_colores.scss", "../componentes/_botones.scss",
    "../componentes/_fuentes.scss";

/* navbar */
button {
    background-color: $main-light-c;
}
nav {
    padding: 2em;
    background-color: $main-dark-c;
}

.navbar {
    font-size: 1.5em;
    box-shadow: $box-shadow;
    border-bottom: 3px solid $main-light-c;
    list-style-type: none;
}

.navbar-toggler {
    color: $main-light-c;
}

.navbar a {
    color: $main-light-c;
    position: relative;
}

.nav-link:focus,
.nav-link:hover {
    color: $main-light-c;
}

nav a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 2px;
    background-color: $main-light-c;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}

nav a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}
.navbar-brand {
    font-size: 2em;
    font-style: normal;
    font-weight: 700;
    color: $main-light-c;
    text-transform: uppercase;
}
/* navbar end */
