@import "../componentes/_colores.scss", "../componentes/_botones.scss",
    "../componentes/_fuentes.scss";

/* navbar */
button {
    background-color: $main-light-c;
}
nav {
    padding: 0.2em;
    background: rgba($main-light-c, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-item {
    margin: 0 10px;
}

.navbar {
    font-size: 1.5em;
    box-shadow: $box-shadow;
    padding-inline: 1em;
    list-style-type: none;
    transition: color 0.3s ease;

    .contact-button:hover {
        box-shadow: $box-shadow;
    }

    a {
        color: $main-light-c;
        font-weight: 700;
        transition: color 0.3s ease, transform 0.2s ease;
        text-decoration: none;
    }

    a:hover {
        color: $ink;
        transform: scale(1.1);
    }
}

.navbar-toggler {
    color: $main-light-c;
}

.navbar-brand {
    font-size: 2em;
    font-style: normal;
    font-weight: 700;
    color: $main-light-c;
    text-transform: uppercase;
}
