@import "../componentes/_colores.scss", "../componentes/_botones.scss",
    "../componentes/_fuentes.scss";

#sec-serv {
    display: flex;
    flex-wrap: wrap;
    background: $main-dark-c;
    clip-path: polygon(0 0, 100% 83px, 100% 100%, 0 100%);
    margin-top: -83px;
    z-index: -1;
    height: 100vh;
    padding: 10%;
    justify-content: space-around;
    align-content: space-around;
}
.text-center {
    background: $main-gradient-hero;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    h4{
        box-shadow: $box-shadow;
    }
}
.serv-box-container {
    height: 60vh;
    display: flex;
    gap: 1%;
}

.serv-box {
    height: inherit;
    width: 23vw;
    padding: 1%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 15px solid transparent; /* Set a transparent border */
    border-radius: 10%;
    background-clip: padding-box; /* Ensure background is confined to the padding box */
    color: $main-light-c;
    box-shadow: 0px 2px 2px 0px rgba(15, 15, 15, 0.3);
    position: relative;
    background-image: $main-gradient-hero;
    transition: transform 0.3s ease-in-out;

    .black-container {
        background-color: $main-dark-c;
        border-radius: inherit;
        height: 65%;
        padding: 5%;
    }

    .serv-title {
        font-weight: 800;
        font-size: 30px;
        background: $main-gradient-hero;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    img {
        width: 30%;
        height: 30%;
        margin: auto;
        color: $main-light-c;
        padding-bottom: 5%;
    }

    .button-action-serv {
        background-image: $main-gradient-hero;
        padding: 5%;
        border-radius: inherit;
        box-shadow: $box-shadow;
    }

    a {
        text-decoration: none;
        color: $main-light-c;
    }

    &:hover {
        transform: translateY(-5px);
    }

    &:active {
        transform: translateY(0);
    }
}
