@import "../componentes/_colores.scss", "../componentes/_botones.scss",
    "../componentes/_fuentes.scss";

    .serv-full-wrap {
    background: $main-dark-c;
    height: auto;
    padding: 5%;

}
.text-center {
    background: $main-gradient-hero;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    h4{
        box-shadow: $box-shadow;
    }
}  

.serv-box {
    border: 15px solid transparent; 
    border-radius: 0px;
    background-clip: padding-box;
    color: $main-light-c;
    box-shadow: 0px 2px 2px 0px rgba(15, 15, 15, 0.3);
    background-image: $main-gradient-hero;
    transition: transform 0.3s ease-in-out;
    ul{
        list-style: none;
    }

    .black-container {
        background-color: $main-dark-c;
        border-radius: inherit;
        height: auto;
        padding: 5%;
    }

    .serv-title {
        font-weight: 800;
        font-size: 30px;
        background: $main-gradient-hero;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        text-shadow: $text-shadow;
    }

    img {
        text-shadow: $text-shadow;
        width: 30%;
        height: 30%;
        margin: auto;
        color: $main-light-c;
        padding: 5%;
    }

    .button-action-serv {
        background-image: $main-gradient-hero;
        padding: 3%;
        border-radius: 2%;
        box-shadow: $box-shadow;
    }

    a {
        text-decoration: none;
        color: $main-light-c;
    }

    &:hover {
        transform: translateY(-5px);
    }

    &:active {
        transform: translateY(0);
    }
}
