@import "../componentes/colores";
body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
    overflow-x: hidden !important;
    max-width: 100% !important;
}
a {
    all: unset;
    cursor: pointer;
}
