@import "_colores.scss";
// Extra small devices (portrait phones, less than 576px)
// Extra small devices (phones, less than 576px)
@media (max-width: 575.98px) {
    .navbar {
        font-size: 1em;
    }
#portfolio{
    height: 190vh;
}
    #portfolio,
    #sec-serv {
        clip-path: none;
    }

    .portfolio-boxes1,
    .portfolio-boxes2,
    .portfolio-boxes3,
    .portfolio-boxes4 {
        width: 40%;
        height: 40%;
    }

    .header-container {
        margin: auto;
        position: relative;
        padding: 100px;
    }

    .about-img-box,
    .box,
    .about-image {
        display: none;
    }

    h1 {
        font-size: 61.7px;
        font-weight: 800;
        text-transform: uppercase;
    }

    h2 {
        font-size: 41.7px;
        font-weight: 600;
    }

    .logo-footer,
    .sm-footer-box {
        display: flex;
        justify-content: center;
    }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
    #portfolio,
    #sec-serv {
        clip-path: none;
    }


    .navbar {
        font-size: 1em;
    }

    .portfolio-boxes1,
    .portfolio-boxes2,
    .portfolio-boxes3,
    .portfolio-boxes4 {
        width: 110px;
        height: 110px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .row {
        justify-content: center;
    }

    .header-container {
        padding: 100px;
    }

    .about-img-box,
    .about-image {
        display: none;
    }

    .about-presentation .text-about-presentation {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: left;
        gap: 40px;
    }

    li {
        font-size: 45px;
    }

    .about-p {
        text-align: center;
    }

    h2 {
        font-size: 45px;
        font-weight: 600;
    }

    .serv-1-box,
    .serv-2-box,
    .serv-3-box {
        border: 4px solid $main-dark-c;
        display: flex;
        flex-direction: column;
    }

    .sm-footer-box {
        display: flex;
        justify-content: center;
    }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
    .portfolio-boxes1,
    .portfolio-boxes2,
    .portfolio-boxes3,
    .portfolio-boxes4 {
        width: 200px;
        height: 200px;
    }

    .serv-1-box,
    .serv-2-box,
    .serv-3-box {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        border: 4px solid $main-dark-c;
    }
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
    .portfolio-boxes1,
    .portfolio-boxes2,
    .portfolio-boxes3,
    .portfolio-boxes4 {
        width: 200px;
        height: 200px;
    }

    .serv-1-box,
    .serv-2-box,
    .serv-3-box {
        width: auto;
        display: flex;
        flex-direction: column;
    }
}
